.section-title {
    margin: 0;
    padding: 0;
    width: 60vw;
    border: 1px solid red;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    color: black;
    align-self: center;
    text-align: center;
  }