@keyframes rotation {

    0% {
        transform: rotate(0deg); /* или вместо % from to */
    }

    100% {
        transform: rotate(360deg);
    }
}


.rotation { 
    animation: rotation 20s linear infinite;

}

